---
import { Image } from "astro:assets";
import bannerImage from "../../images/banner.webp";
---

<section class="w-full h-[550px] sm:h-[650px] relative mb-20 lg:mb-40" id="banner">
	<Image
		src={bannerImage}
		alt="imagen"
		loading="eager"
		class="-z-20 bg-black h-full absolute right-0 w-full sm:w-3/5 rounded-bl-[200px] grayscale object-cover"
	/>
	<div id="filter" class="-z-10 absolute inset-0 bg-gradient"></div>
	<div class="container m-auto z-30 h-full flex items-center">
		<h1 class="hidden sm:block sm:text-6xl md:text-7xl text-white font-bold w-full sm:w-2/5 text-balance pl-2">
			La Cámara de la Gente
		</h1>
	</div>
</section>
