---
import { Image } from "astro:assets";
import sectionOne from "../../images/world.svg";
import sectionTwo from "../../images/transfer.svg";
import sectionThree from "../../images/pay_online.svg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.currentLocale as string);
const t = useTranslations(lang);
---

<section class="mb-20 lg:mb-40">
    <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center px-2"
    >
        {t('home.sections.title')}
    </h2>
    <div
        class="flex items-center flex-wrap flex-row justify-center gap-10 mt-10"
    >
        <div
            class="bg-white p-6 rounded-2xl shadow-lg max-w-xs flex flex-col items-center space-y-3"
        >
            <Image
                src={sectionOne}
                alt="Red de Ahorro y Crédito Popular"
                loading="eager"
                class="h-60 w-60"
            />
            <h3 class="text-xl font-semibold text-center">
                {t('home.sections.1.title')}
            </h3>
            <p class="text-center md:text-left">
                {t('home.sections.1.text')}
            </p>
        </div>
        <div
            class="bg-white p-6 rounded-2xl shadow-lg max-w-xs flex flex-col items-center space-y-3"
        >
            <Image
                src={sectionTwo}
                alt="Red de Ahorro y Crédito Popular"
                loading="eager"
                class="h-60 w-60"
            />
            <h3 class="text-xl font-semibold text-center">
                {t('home.sections.2.title')}
            </h3>
            <p class="text-center md:text-left">
                {t('home.sections.2.text')}
            </p>
        </div>
        <div
            class="bg-white p-6 rounded-2xl shadow-lg max-w-xs flex flex-col items-center space-y-3"
        >
            <Image
                src={sectionThree}
                alt="Red de Ahorro y Crédito Popular"
                loading="eager"
                class="h-60 w-60"
            />
            <h3 class="text-xl font-semibold text-center">{t('home.sections.3.title')}</h3>
            <p class="text-center md:text-left">
                {t('home.sections.3.text')}
            </p>
        </div>
    </div>
</section>
