---
import { Image } from "astro:assets";
import sectionOne from "../../images/world.svg";
import sectionTwo from "../../images/transfer.svg";
import sectionThree from "../../images/pay_online.svg";
---

<section class="mb-20 lg:mb-40">
    <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center px-2"
    >
        Soluciones Tecnológicas para Entidades Financieras Populares y Cooperativas
    </h2>
    <div
        class="flex items-center flex-wrap flex-row justify-center gap-10 mt-10"
    >
        <div
            class="bg-white p-6 rounded-2xl shadow-lg max-w-xs flex flex-col items-center space-y-3"
        >
            <Image
                src={sectionOne}
                alt="Red de Ahorro y Crédito Popular"
                loading="eager"
                class="h-60 w-60"
            />
            <h3 class="text-xl font-semibold text-center">
                Red de pagos para el Sector
            </h3>
            <p class="text-center md:text-left">
                La Cámara de la Gente es una red transaccional para las
                entidades del sector ahorro y crédito popular y cooperativo, adaptada a sus clientes y socios.
            </p>
        </div>
        <div
            class="bg-white p-6 rounded-2xl shadow-lg max-w-xs flex flex-col items-center space-y-3"
        >
            <Image
                src={sectionTwo}
                alt="Red de Ahorro y Crédito Popular"
                loading="eager"
                class="h-60 w-60"
            />
            <h3 class="text-xl font-semibold text-center">
                Transferencias en Tiempo Real
            </h3>
            <p class="text-center md:text-left">
                Los socios y clientes de tu entidad podrán utilizar su teléfono
                celular para enviar y recibir fondos en tiempo real hacia/desde otras entidades
                financieras.
            </p>
        </div>
        <div
            class="bg-white p-6 rounded-2xl shadow-lg max-w-xs flex flex-col items-center space-y-3"
        >
            <Image
                src={sectionThree}
                alt="Red de Ahorro y Crédito Popular"
                loading="eager"
                class="h-60 w-60"
            />
            <h3 class="text-xl font-semibold text-center">Remesas internacionales y SPEI</h3>
            <p class="text-center md:text-left">
                Tus clientes y socios podrán recibir remesas en tiempo real, conectarse al SPEI, cobrar servicios y tiempo aire.
            </p>
        </div>
    </div>
</section>
