---
import { Image } from "astro:assets";
import elviraConcheiroPhoto from "../../images/elvira_concheiro_photo.jpg";
import rocioMejiaPhoto from "../../images/rocio_mejia_photo.jpg";
import brianaMarbury from "../../images/briana_marbury_photo.jpg";
import QuoteLeftIcon from "../../icons/QuoteLeftIcon.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.currentLocale as string);
const t = useTranslations(lang);
---

<section id="testimonios" class="w-full mb-20 lg:mb-40 container m-auto">
	<h2 class="text-4xl font-bold text-center mb-6">{t('home.testimonials.title')}</h2>

	<article class="max-w-[60rem] m-auto flex flex-col md:flex-row gap-6 md:gap-16 items-center mb-14 md:mb-2 px-4 md:px-2">
		<picture class="flex flex-col flex-shrink-0 relative">
			<div class="text-primary -mb-16">
				<QuoteLeftIcon width="5rem" height="5rem" />
			</div>
			<Image
				src={elviraConcheiroPhoto}
				alt="Elvira Concheiro foto"
				class="bg-red-300 rounded-full object-cover -z-10"
				width="300"
				height="300"
			/>
			<div
				class="w-[300px] h-[300px] bg-primary rounded-full absolute -bottom-2 -right-2 -z-20"
			>
			</div>
		</picture>

		<div>
			<blockquote>
				<p class="text-lg text-center md:text-left md:text-balance">
					{t('home.testimonials.1.text')}
				</p>
			</blockquote>

			<p class="font-bold text-primary mt-2 text-center md:text-left">
				{t('home.testimonials.1.author')} <cite class="text-black font-normal"
					>- {t('home.testimonials.1.position')}</cite
				>
			</p>
		</div>
	</article>

	<article class="max-w-[60rem] m-auto flex flex-col md:flex-row-reverse gap-6 md:gap-16 items-center mb-14 md:mb-2 px-4 md:px-2">
		<picture class="flex flex-col flex-shrink-0 relative">
			<div class="text-primary -mb-16">
				<QuoteLeftIcon width="5rem" height="5rem" />
			</div>
			<Image
				src={rocioMejiaPhoto}
				alt="Elvira Concheiro foto"
				class="bg-red-300 rounded-full object-cover -z-10"
				width="300"
				height="300"
			/>
			<div
				class="w-[300px] h-[300px] bg-primary rounded-full absolute -bottom-2 -right-2 -z-20"
			>
			</div>
		</picture>

		<div>
			<blockquote>
				<p class="text-lg md:text-balance text-center md:text-right">
					{t('home.testimonials.2.text')}
				</p>
			</blockquote>

			<p class="font-bold text-primary mt-2 text-center md:text-right">
				{t('home.testimonials.2.author')} <cite class="text-black font-normal"
					>- {t('home.testimonials.2.position')}</cite
				>
			</p>
		</div>
	</article>

	<article class="max-w-[60rem] m-auto flex flex-col md:flex-row gap-6 md:gap-16 items-center mb-14 md:mb-2 px-4 md:px-2">
		<picture class="flex flex-col flex-shrink-0 relative">
			<div class="text-primary -mb-16">
				<QuoteLeftIcon width="5rem" height="5rem" />
			</div>
			<Image
				src={brianaMarbury}
				alt="Elvira Concheiro foto"
				class="bg-red-300 rounded-full object-cover -z-10"
				width="300"
				height="300"
			/>
			<div
				class="w-[300px] h-[300px] bg-primary rounded-full absolute -bottom-2 -right-2 -z-20"
			>
			</div>
		</picture>

		<div>
			<blockquote>
				<p class="text-lg text-center md:text-left md:text-balance">
					{t('home.testimonials.3.text')}
				</p>
			</blockquote>

			<p class="font-bold text-primary mt-2 text-center md:text-left">
				{t('home.testimonials.3.author')} <cite class="text-black font-normal"
					>- {t('home.testimonials.3.position')}</cite
				>
			</p>
		</div>
	</article>
</section>
