---
import { Image } from "astro:assets";
import elviraConcheiroPhoto from "../../images/elvira_concheiro_photo.jpg";
import rocioMejiaPhoto from "../../images/rocio_mejia_photo.jpg";
import brianaMarbury from "../../images/briana_marbury_photo.jpg";
import QuoteLeftIcon from "../../icons/QuoteLeftIcon.astro";
---

<section id="testimonios" class="w-full mb-40 container m-auto">
	<h2 class="text-4xl font-bold text-center mb-6">Testimonios</h2>

	<article class="max-w-[60rem] m-auto flex flex-row gap-16 items-center mb-2">
		<picture class="flex flex-col flex-shrink-0 relative">
			<div class="text-primary -mb-16">
				<QuoteLeftIcon width="5rem" height="5rem" />
			</div>
			<Image
				src={elviraConcheiroPhoto}
				alt="Elvira Concheiro foto"
				class="bg-red-300 rounded-full object-cover -z-10"
				width="300"
				height="300"
			/>
			<div
				class="w-[300px] h-[300px] bg-primary rounded-full absolute -bottom-2 -right-2 -z-20"
			>
			</div>
		</picture>

		<div>
			<blockquote>
				<p class="text-lg text-balance">
					No existe en la práctica ningún esfuerzo como el que aquí saludamos,
					que es el de la Cámara de la Gente, que tenemos un combate común que
					hacer por, efectivamente, hacerse de esos medios de pago o de
					recaudación.
				</p>
			</blockquote>

			<p class="font-bold text-primary mt-2">
				Elvira Concheiro <cite class="text-black font-normal"
					>- Tesorera de la Federación</cite
				>
			</p>
		</div>
	</article>

	<article class="max-w-[60rem] m-auto flex flex-row-reverse gap-16 items-center mb-2">
		<picture class="flex flex-col flex-shrink-0 relative">
			<div class="text-primary -mb-16">
				<QuoteLeftIcon width="5rem" height="5rem" />
			</div>
			<Image
				src={rocioMejiaPhoto}
				alt="Elvira Concheiro foto"
				class="bg-red-300 rounded-full object-cover -z-10"
				width="300"
				height="300"
			/>
			<div
				class="w-[300px] h-[300px] bg-primary rounded-full absolute -bottom-2 -right-2 -z-20"
			>
			</div>
		</picture>

		<div>
			<blockquote>
				<p class="text-lg text-balance text-right">
					Queremos poner a su disposición nuestra infraestructura para que
					puedan utilizar nuestros canales para que podamos servir como agente
					comercial, como corresponsal, para que en todos los lugares donde
					estemos podamos recibir las remesas y entregarlas directamente a los
					socios y a las socias de la Cámara de la Gente.
				</p>
			</blockquote>

			<p class="font-bold text-primary mt-2 text-right">
				Rocío Mejía <cite class="text-black font-normal"
					>- Directora General de la Financiera para el Bienestar</cite
				>
			</p>
		</div>
	</article>

	<article class="max-w-[60rem] m-auto flex flex-row gap-16 items-center mb-2">
		<picture class="flex flex-col flex-shrink-0 relative">
			<div class="text-primary -mb-16">
				<QuoteLeftIcon width="5rem" height="5rem" />
			</div>
			<Image
				src={brianaMarbury}
				alt="Elvira Concheiro foto"
				class="bg-red-300 rounded-full object-cover -z-10"
				width="300"
				height="300"
			/>
			<div
				class="w-[300px] h-[300px] bg-primary rounded-full absolute -bottom-2 -right-2 -z-20"
			>
			</div>
		</picture>

		<div>
			<blockquote>
				<p class="text-lg text-balance">
					El esfuerzo que la Cámara de la Gente está liderando en México nos
					parece una ruta estratégica que otras regiones del mundo pueden seguir
					para democratizar sus sistemas de pagos en comunidades que aún deben
					ser debidamente atendidas.
				</p>
			</blockquote>

			<p class="font-bold text-primary mt-2">
				Briana Marbury <cite class="text-black font-normal"
					>- Directora general de la Fundación Interledger</cite
				>
			</p>
		</div>
	</article>
</section>
