---
import "./testimonios.css";
---

<section id="testimonios" class="w-full mb-20 container m-auto">
	<h2 class="text-4xl font-bold text-center mb-10">Testimonios</h2>
	<article class="max-w-[60rem] m-auto flex flex-row gap-16 items-center mb-6">
		<picture class="flex flex-col items-center">
			<div class="bg-[#cbcadf] px-4 py-2 rounded-lg -m-2 z-10">
				<p class="font-bold text-primary">Elvira Concheiro</p>
			</div>
			<img src="src/images/teso.jpg" alt="T" class="bg-red-300 rounded-full object-cover" width="300" height="300" />
			<cite>Tesorera de la Federación</cite>
		</picture>
		<blockquote class="border-2 border-gray-500 rounded-[2rem] rounded-tl-none px-10 py-8">
			<p class="text-lg">
				No existe en la práctica ningún esfuerzo como el que aquí saludamos, que
				es el de la Cámara de la Gente, que tenemos un combate común que hacer
				por, efectivamente, hacerse de esos medios de pago o de recaudación.
			</p>
		</blockquote>
	</article>
</section>
