---
import InstagramIcon from "../icons/InstagramIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import XIcon from "../icons/XIcon.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo_pch_blanco.png";
---

<footer class="bg-footer py-3 text-white">
    <div class="container mx-auto">
        <!-- Imagen con el nombre de la empresa -->
        <picture class="flex gap-2 items-center mb-4 pt-3 px-2">
            <Image
                src={logoImage}
                alt="Logo la cámara de la gente PCH"
                width="42"
                height="42"
            />
            <p>Cámara de la Gente</p>
        </picture>

        <!-- Sección principal del footer -->
        <div
            class="flex flex-col md:flex-row gap-8 border-t border-gray-200 pt-8 px-4"
        >
            <nav class="hidden md:block basis-1/3">
                <p class="text-lg font-semibold mb-2">Inicio</p>
                <p class="text-lg font-semibold mb-2">Nosotros</p>
                <p class="text-lg font-semibold mb-2">Servicios</p>
                <p class="text-lg font-semibold mb-2">Tecnología</p>
                <p class="text-lg font-semibold mb-2">Eventos</p>
            </nav>

            <div>
                <h2 class="text-lg font-semibold mb-4 center">
                    INFORMACIÓN DE CONTACTO
                </h2>
                <p class="mb-4">
                    Xochicalco 55, Benito Juárez, CDMX, 03020, MÉXICO
                </p>
            </div>

            <div>
                <h2 class="text-lg font-semibold mb-4 center">
                    MANTENTE INFORMADO
                </h2>
                <p class="mb-4">
                    Indica tu email para recibir actualizaciones de La Cámara de
                    la Gente
                </p>
                <form class="flex flex-col gap-4">
                    <input
                        type="email"
                        placeholder="Ingresa tu email"
                        class="p-3 rounded bg-gray-100 text-gray-900"
                    />
                    <button
                        class="bg-blue p-3 rounded bg-primary text-white hover:bg-secondary"
                        >Suscribirse</button
                    >
                </form>
            </div>
        </div>

        <div
            class="flex flex-col-reverse md:flex-row gap-2 justify-between items-center border-t border-gray-200 mt-6 pt-3 px-2"
        >
            <p class="text-gray-300 text-sm">
                &copy; 2024 Cámara de la Gente. Todos los derechos reservados.
            </p>
            <div class="flex space-x-6 items-center">
                <a
                    href="https://www.instagram.com/camaradelagente/"
                    aria-label="Instagram de la camara de la gente"
                    target="_blank"
                >
                    <InstagramIcon width="3rem" height="3rem" />
                </a>
                <a
                    href="https://www.facebook.com/CamaraDeLaGente/"
                    aria-label="Facebook de la camara de la gente"
                    target="_blank"
                >
                    <FacebookIcon width="3rem" height="3rem" />
                </a>
                <a
                    href="https://x.com/CamaraGente"
                    aria-label="X twitter de la camara de la gente"
                    target="_blank"
                >
                    <XIcon width="3em" height="3rem" />
                </a>
            </div>
        </div>
    </div>
</footer>
