---
import InstagramIcon from "../icons/InstagramIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import XIcon from "../icons/XIcon.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo_pch_blanco.png";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.currentLocale as string);
const t = useTranslations(lang);
---

<footer class="bg-footer py-3 text-white">
    <div class="container mx-auto">
  
        <picture class="flex gap-2 items-center mb-4 pt-3 px-2">
            <Image
                src={logoImage}
                alt="Logo la cámara de la gente PCH"
                width="42"
                height="42"
            />
            <p>{t('footer.company')}</p>
        </picture>

        <div
            class="flex flex-col md:flex-row gap-8 border-t border-gray-200 pt-8 px-4"
        >
            <nav class="hidden md:block basis-1/3">
                <a href={getRelativeLocaleUrl(lang)} class="text-lg font-semibold mb-2 block">{t('nav.home')}</a>
                <a href={getRelativeLocaleUrl(lang, 'nosotros')} class="text-lg font-semibold mb-2 block">{t('nav.about')}</a>
                <a href={getRelativeLocaleUrl(lang, 'servicios')} class="text-lg font-semibold mb-2 block">{t('nav.services')}</a>
                <a href={getRelativeLocaleUrl(lang, 'tecnologia')} class="text-lg font-semibold mb-2 block">{t('nav.technology')}</a>
                <!-- <a class="text-lg font-semibold mb-2">{t('nav.events')}</a> -->
            </nav>

            <div>
                <h2 class="text-lg font-semibold mb-4 center">
                    {t('footer.contactInfo')}
                </h2>
                <p class="mb-4">
                    {t('footer.address')}
                </p>
            </div>

            <div>
                <h2 class="text-lg font-semibold mb-4 center">
                    {t('footer.stayInTouch')}
                </h2>
                <p class="mb-4">
                    {t('footer.stayInTouchText')}
                </p>
                <form class="flex flex-col gap-4" id="suscribeForm">
                    <input
                        name="email"
                        type="email"
                        placeholder={t('footer.email')}
                        class="p-3 rounded bg-gray-100 text-gray-900"
                    />
                    <button
                        class="bg-blue p-3 rounded bg-primary text-white hover:bg-secondary"
                        >{t('footer.subscribe')}</button
                    >
                </form>
            </div>
        </div>

        <div
            class="flex flex-col-reverse md:flex-row gap-2 justify-between items-center border-t border-gray-200 mt-6 pt-3 px-2"
        >
            <p class="text-gray-300 text-sm">
                &copy; {t('footer.copy')}
            </p>
            <div class="flex space-x-6 items-center">
                <a
                    href="https://www.instagram.com/camaradelagente/"
                    aria-label="Instagram de la camara de la gente"
                    target="_blank"
                >
                    <InstagramIcon width="3rem" height="3rem" />
                </a>
                <a
                    href="https://www.facebook.com/CamaraDeLaGente/"
                    aria-label="Facebook de la camara de la gente"
                    target="_blank"
                >
                    <FacebookIcon width="3rem" height="3rem" />
                </a>
                <a
                    href="https://x.com/CamaraGente"
                    aria-label="X twitter de la camara de la gente"
                    target="_blank"
                >
                    <XIcon width="3em" height="3rem" />
                </a>
            </div>
        </div>
    </div>
</footer>
<script>

      document.getElementById("suscribeForm")?.addEventListener('submit', (e) => {
        e.preventDefault();
        const url = new URL(
            "https://api.sender.net/v2/subscribers"
        );
        const form = new FormData(e.target as HTMLFormElement)
        const emailInput = (e.target as HTMLFormElement).querySelector('input[name="email"]');
        let headers = {
            "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiNTQ5MTllYjU3OGI5NGQyMzVhODYxM2JjMGI1YjU5ODM1N2EzYTc0YjI2OWZkYjkxN2FiOTlhMWNjZDE1MDE0ZmYzY2NlMWFmYmUwNzA1NTUiLCJpYXQiOiIxNzI5Nzg5NDI4LjA5NjI3NSIsIm5iZiI6IjE3Mjk3ODk0MjguMDk2MjgwIiwiZXhwIjoiNDg4MzM4OTQyOC4wOTQyMDUiLCJzdWIiOiI5MjE2OTAiLCJzY29wZXMiOltdfQ.dD__xvGSq0dBKfosuN1ddCPRLUWizYNOrkg_5zBfdb3Hwy8s7jHPtdd6PpXA1Khc1ECLUzR4eJZ_zTNuXAzypg",
            "Content-Type": "application/json",
            "Accept": "application/json",
        };

        let data = {
            "email": form.get("email"),
            "firstname": "Sender",
            "lastname": "Support",
            "groups": ["bDPZ5K"], 
            "fields": {},
            "phone": "",
            "trigger_automation": false
            };
            fetch(url, {
                method: "POST",
                headers: headers,
                body: JSON.stringify(data)
                }).then(response => response.json())
                .then(result =>{
                    if (emailInput instanceof HTMLInputElement) {
                        emailInput.value = '';
                    }
                    console.log(result)
                })
                .catch(error => console.error('Error:', error));
            });
  </script>