---
import InstagramIcon from "../icons/InstagramIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import XIcon from "../icons/XIcon.astro";
import EarthIcon from "../icons/EarthIcon.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo_pch_blanco.png";
---

<header
	id="header"
	class="fixed z-50 top-0 w-full h-20 bg-transparent text-white xl:text-lg font-bold"
>
	<section class="container m-auto h-full flex justify-between items-center px-2 pr-4 lg:pr-2">
		<picture class="flex gap-1 items-center">
			<Image
				src={logoImage}
				alt="Logo la cámara de la gente PCH"
				width="52"
				height="52"
			/>
			<p>Cámara de la Gente</p>
		</picture>

		<button id="header_burger" class="flex flex-col gap-[6px] lg:hidden">
			<span class="w-[30px] h-[3px] rounded-full bg-white block"></span>
			<span class="w-[30px] h-[3px] rounded-full bg-white block"></span>
			<span class="w-[30px] h-[3px] rounded-full bg-white block"></span>
		</button>
		<div id="header_options" class="flex items-center gap-8 pt-20 flex-col absolute top-0 bottom-0 left-[110vw] w-screen h-screen bg-primary py-6 lg:py-0 lg:bg-inherit lg:w-auto lg:h-auto lg:static lg:flex-row lg:pt-0">
			<nav>
				<ul class="flex flex-col gap-3 items-center lg:flex-row lg:gap-1">
					<li>
						<a href="/" class="relative block px-2 py-1">Inicio</a>
					</li>
					<li>
						<a href="/nosotros" class="relative block px-2 py-1">Nosotros</a>
					</li>
					<li>
						<a href="/servicios" class="relative block px-2 py-1">Servicios</a>
					</li>
					<li>
						<a href="/tecnologia" class="relative block px-2 py-1">Tecnología</a
						>
					</li>
					<li>
						<a href="/eventos" class="relative block px-2 py-1">Eventos</a>
					</li>
					<li>
						<a href="/ayuda" class="relative block px-2 py-1">Ayuda</a>
					</li>
				</ul>
			</nav>

			<div class="flex gap-2">
				<a
					href="https://www.instagram.com/camaradelagente/"
					aria-label="Instagram de la camara de la gente"
					target="_blank"
				>
					<InstagramIcon width="1.2rem" height="1.2rem" />
				</a>
				<a
					href="https://www.facebook.com/CamaraDeLaGente/"
					aria-label="Facebook de la camara de la gente"
					target="_blank"
				>
					<FacebookIcon width="1.2rem" height="1.2rem" />
				</a>
				<a
					href="https://x.com/CamaraGente"
					aria-label="X twitter de la camara de la gente"
					target="_blank"
				>
					<XIcon width="1.2rem" height="1.2rem" />
				</a>
			</div>

			<button role="button" class="flex gap-1 items-center">
				<EarthIcon width="1.2rem" height="1.2rem" />
				<p class="pt-[1px]">ES</p>
			</button>
		</div>
	</section>
</header>

<script>
	const header = document.getElementById("header");
	const headerHeight = 80;
	const bannerHeight = 650;

	if (header && window.scrollY > bannerHeight - headerHeight) {
		header.style.setProperty("--header-opacity", "0.95");
	}

	window.addEventListener("scroll", () => {
		if (!header) return;

		if (window.scrollY > bannerHeight - headerHeight) {
			header.style.setProperty("--header-opacity", "0.95");
		} else {
			header.style.setProperty("--header-opacity", "0");
		}
	});

	const headerBurger = document.getElementById("header_burger");
	const headerOptions = document.getElementById("header_options");

	if (headerBurger && headerOptions) {
		headerBurger.addEventListener("click", () => {
			headerBurger.classList.toggle("open");
			headerOptions.classList.toggle("open");
		});
	}
</script>
