---
import EarthIcon from "../icons/EarthIcon.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo_pch_blanco.png";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';

const lang = getLangFromUrl(Astro.currentLocale as string);
const t = useTranslations(lang);
---

<header
	id="header"
	class="fixed z-50 top-0 w-full h-20 bg-transparent text-white xl:text-lg font-bold"
>
	<section
		class="container m-auto h-full flex justify-between items-center px-4 pr-5"
	>
		<picture class="flex gap-1 items-center">
			<Image
				src={logoImage}
				alt="Logo la cámara de la gente PCH"
				width="52"
				height="52"
				loading="eager"
			/>
			<p class="hidden lg:block">{t('header.company')}</p>
		</picture>

		<button id="header_burger" class="flex flex-col gap-[6px] md:hidden" aria-label="menú desplegable">
			<span class="w-[30px] h-[3px] rounded-full bg-white block"></span>
			<span class="w-[30px] h-[3px] rounded-full bg-white block"></span>
			<span class="w-[30px] h-[3px] rounded-full bg-white block"></span>
		</button>
		<div
			id="header_options"
			class="flex items-center gap-8 pt-20 flex-col absolute top-0 bottom-0 left-[110vw] w-screen h-screen bg-primary py-6 md:py-0 md:bg-inherit md:w-auto md:h-auto md:static md:flex-row md:pt-0"
		>
			<nav>
				<ul
					class="flex flex-col gap-2 items-center md:flex-row lg:gap-4"
				>
					<li>
						<a href={getRelativeLocaleUrl(lang)} class="relative block px-2 py-1">{t('nav.home')}</a>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(lang, 'nosotros')} class="relative block px-2 py-1"
							>{t('nav.about')}</a
						>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(lang, 'servicios')} class="relative block px-2 py-1"
							>{t('nav.services')}</a
						>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(lang, 'tecnologia')} class="relative block px-2 py-1"
							>{t('nav.technology')}</a
						>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(lang, 'eventos')} class="relative block px-2 py-1"
							>{t('nav.events')}</a
						>
					</li>
					<li>
						<a href={getRelativeLocaleUrl(lang, 'ayuda')} class="relative block px-2 py-1"
							>{t('nav.help')}</a
						>
					</li>
				</ul>
			</nav>

			<button role="button" class="flex gap-1 items-center">
				<EarthIcon width="1.2rem" height="1.2rem" />
				<p class="pt-[1px]">ES</p>
			</button>
		</div>
	</section>
</header>

<script>
	const header = document.getElementById("header");
	const headerHeight = 80;
	const bannerHeight = 650;
	const isHomePage = window.location.pathname === "/";

	if (header && window.scrollY > bannerHeight - headerHeight) {
		header.style.setProperty("--header-opacity", "0.95");
	}

	if(header && !isHomePage){
		header.style.setProperty("--header-opacity", "0.95");
	}

	window.addEventListener("scroll", () => {
		if (!header) return;

		if (isHomePage) {
			if (window.scrollY > bannerHeight - headerHeight) {
				header.style.setProperty("--header-opacity", "0.95");
			} else {
				header.style.setProperty("--header-opacity", "0");
			}
		}
	});

	const headerBurger = document.getElementById("header_burger");
	const headerOptions = document.getElementById("header_options");

	if (headerBurger && headerOptions) {
		headerBurger.addEventListener("click", () => {
			headerBurger.classList.toggle("open");
			headerOptions.classList.toggle("open");
		});
	}

	const curretAnchor = document.querySelector(`#header nav a[href="${window.location.pathname}"]`);
	curretAnchor?.classList.add("active");
</script>
