---
import InstagramIcon from "../icons/InstagramIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import XIcon from "../icons/XIcon.astro";
import EarthIcon from "../icons/EarthIcon.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo_pch_blanco.png";
---

<header
	class="fixed z-50 top-0 w-full h-20 bg-transparent bg-header text-white xl:text-lg"
>
	<section class="container m-auto h-full flex justify-between items-center">
		<picture class="flex gap-1 items-center">
			<Image
				src={logoImage}
				alt="Logo la cámara de la gente PCH"
				width="52"
				height="52"
			/>
			<p>Cámara de la Gente</p>
		</picture>

		<div class="items-center gap-8 hidden lg:flex">
			<nav>
				<ul class="flex gap-1">
					<li>
						<a href="/" class="relative block px-2 py-1">Inicio</a>
					</li>
					<li>
						<a href="/nosotros" class="relative block px-2 py-1"
							>Nosotros</a
						>
					</li>
					<li>
						<a href="/servicios" class="relative block px-2 py-1"
							>Servicios</a
						>
					</li>
					<li>
						<a href="/tecnologia" class="relative block px-2 py-1"
							>Tecnología</a
						>
					</li>
					<li>
						<a href="/eventos" class="relative block px-2 py-1"
							>Eventos</a
						>
					</li>
					<li>
						<a href="/ayuda" class="relative block px-2 py-1"
							>Ayuda</a
						>
					</li>
				</ul>
			</nav>

			<div class="flex gap-2">
				<a
					href="https://www.instagram.com/camaradelagente/"
					aria-label="Instagram de la camara de la gente"
					target="_blank"
				>
					<InstagramIcon width="1.2rem" height="1.2rem" />
				</a>
				<a
					href="https://www.facebook.com/CamaraDeLaGente/"
					aria-label="Facebook de la camara de la gente"
					target="_blank"
				>
					<FacebookIcon width="1.2rem" height="1.2rem" />
				</a>
				<a
					href="https://x.com/CamaraGente"
					aria-label="X twitter de la camara de la gente"
					target="_blank"
				>
					<XIcon width="1.2rem" height="1.2rem" />
				</a>
			</div>

			<button role="button" class="flex gap-1 items-center">
				<EarthIcon width="1.2rem" height="1.2rem" />
				<p>ES</p>
			</button>
		</div>
	</section>
</header>
