---
import BillIcon from "../icons/BillIcon.astro";
import RocketIcon from "../icons/RocketIcon.astro";
import CommentsIcon from "../icons/CommentsIcon.astro";
---

<section class="mb-20 bg-white py-24 sm:py-32">
  <h2
    class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center"
  >
    Compromiso con Nuestros Objetivos
  </h2>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-7xl">
    <div
      class="grid max-w-xl grid-cols-1 gap-x-30 gap-y-5 lg:max-w-none lg:grid-cols-3 lg:gap-y-5"
    >
      <div class="relative pl-16 mb-10">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <CommentsIcon width="2.5rem" height="2.5rem" />
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg"
          >
          </div>
          Poder colectivo
        </dt>
        <p class="mt-2 text-base leading-7 text-gray-900">
          Construir una red de pagos digitales del sector ahorro y crédito
          popular y cooperativo, que obedezca a los intereses estratégicos del
          sector.
        </p>
      </div>
      <div class="relative pl-16 mb-10">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <BillIcon width="2.5rem" height="2.5rem" />
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg"
          >
          </div>
          Poder inclusivo
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-900">
          Beneficiar a los millones de socios y clientes de las entidades del
          sector, con soluciones de pago rápidas, sencillas y accesibles.
        </dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <RocketIcon width="2.5rem" height="2.5rem" />
          <div
            class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg"
          >
          </div>
          Poder estratégico
        </dt>
        <p class="mt-2 text-base leading-7 text-gray-900">
          Fomentar el dinamismo del sector, para permanecer competitivos en el
          mundo Fintech, sin dejar a nadie atrás.
        </p>
      </div>
    </div>
  </div>
</section>
